* {
  margin: 0;
  padding: 0;
}
/* Common Styles */
.btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #005fac;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
}
.btn-white {
  background-color: #ffffff;
}
.text-center {
  text-align: center;
}
section {
  margin-top: 130px;
}
.section-title,
.failure-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
}
main {
  max-width: 1072px;
  margin: auto;
}
/* Header Section  */
header {
  background-image: url("../assets/images/banner/banner3.png");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding: 50px 100px;
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  text-align: end;
  padding: 40px;
}
.header-title {
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  text-align: right;
  color: #ffffff;
}
.header-description {
  width: 400px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
  color: #ffffff;
  margin: 24px 0px 32px;
}

/* Failure Section  */
#failure-setion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 87px;
  padding: 20px 130px;
}
.left-section img {
  height: 500px;
}

.failure-description {
  margin: 24px 0px 16px;
}
.failure-description,
.list-group-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
}
.list-group {
  list-style: none;
}
.list-group-item img {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}
/* Plans Section  */
#plans-section {
  padding: 20px 130px 80px;
}
.plans {
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin-top: 50px;
}
.list-plan img {
  width: 72px;
  height: 72px;
}
.list-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  color: #151414;
}
.list-description {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #737272;
}
