* {
  margin: 0;
  padding: 0;
}
/* Common Styles */
.btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  padding: 18px 35px;
  border: none;
  border-radius: 7px;
}
.btn-white {
  color: #005fac;
  background-color: #ffffff;
}
.btn-blue {
  color: #ffffff;
  background-color: #005fac;
}
.text-center {
  text-align: center;
}
section {
  margin-top: 130px;
}
.section-title,
.failure-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
  margin-top: 20px;
}
main {
  max-width: 1072px;
  margin: auto;
}
/* Header Section  */
header {
  background-image: url("../assets/images/banner/banner3.png");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding: 50px 100px;
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  text-align: end;
  padding: 40px;
}
.header-title {
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  text-align: right;
  color: #ffffff;
}
.header-description {
  width: 400px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
  color: #ffffff;
  margin: 24px 0px 32px;
}

/* Failure Section  */
#failure-setion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 87px;
  padding: 0px 130px;
}
.left-section img {
  height: 500px;
}
.failure-description {
  margin: 24px 0px 16px;
}
.failure-description,
.list-group-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
}
.list-group {
  list-style: none;
}
.list-group-item img {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}
/* Plans Section  */
#plans-section {
  padding: 25px 130px 90px;
  background-image: url("../assets/images/BG/gradient2.png"),
    url("../assets/images/BG/header_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  background-blend-mode: color-dodge;
  margin-bottom: 130px;
}
.plans {
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin-top: 50px;
}
.list-plan img {
  width: 72px;
  height: 72px;
}
.list-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  color: #151414;
}
.list-description {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #737272;
}
/* Call Now Section  */
.call-now-container {
  padding: 40px 0px 60px 50px;
  width: 75%;
  margin: auto;
  background-image: linear-gradient(
      to right,
      rgba(0, 95, 172, 0.2),
      rgba(71, 57, 50, 0.3)
    ),
    url(../assets/images/BG/gradient1.png), url(../assets/images/BG/watch.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}
.call-now-container h1 {
  width: 500px;
}
.call-now-container button {
  margin-top: 30px;
}
.footer-container .section-title,
#call-now-section .section-title {
  color: #ffffff;
}
/* Footer Section  */
footer {
  background-color: #151414;
  color: #ffffff;
}
.footer-container {
  display: flex;
  padding: 142px 156px;
  gap: 300px;
  justify-content: space-between;
}
.future {
  width: 50%;
}
.future-description {
  margin: 18px 0 24px;
}
.email,
.phone {
  margin-bottom: 16px;
}
.social img {
  width: 47px;
  height: 47px;
  margin-right: 20px;
}
.subscribe {
  width: 50%;
}
.subscribe form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.subscribe form input[type="email"] {
  padding: 15px;
  margin: 30px 0px 16px;
  background: none;
  border: 1px solid wheat;
}
.subscribe-btn {
  width: 200px;
}
